  .CatalogTable
  {
    FONT-SIZE: 12px;
    FONT-WEIGHT: normal;
    FONT-FAMILY: Arial;    
    COLOR: black;
    VALIGN: TOP;
    TEXT-ALIGN: LEFT;
  }
  
  .CatalogTableHeader
  {
    FONT-SIZE: 12px;
    FONT-WEIGHT: normal;
    COLOR: black;
    BACKGROUND-COLOR: CCCC99;
    TEXT-ALIGN: CENTER;
    padding: 4px 3px 4px 3px;
  }
  
  .LeftMenuLink
  {
    FONT-SIZE: 14px;
    FONT-WEIGHT: normal;
    font-family: Verdana, Arial;
    COLOR: #000000;
    VALIGN: TOP;
    TEXT-ALIGN: LEFT;
    font-style:none;
  }
  
  
  .AddToCartButton
  {
    border: thin solid gold;
    padding: 2px 2px 2px 2px;  
    FONT-WEIGHT: normal;
    FONT-SIZE: xx-small;
    cursor: pointer; /* hand-shaped cursor */
    cursor: hand; /* for IE 5.x */    
    COLOR: #ffffff;
    BACKGROUND-COLOR: CC3300;
    TEXT-DECORATION: none;
  }
  
  .CartTable {
    width:100%;
    border: thin solid #888888;
    FONT-SIZE: 12px;
    FONT-WEIGHT: normal;
    FONT-FAMILY: Arial;   
    VALIGN=CENTER;  
    background:#FFFFFF;
  }

  .CartTableHeader {
    background-color: FFFFFFF;
    font-family: Arial; 
    font-size: 14px;
    color:#555555;  
  }


 body {
   padding: 0px;
   background: #EEEEEE;
   color: #222;
   text-align: center;
   font: 85% "Trebuchet MS",Arial,sans-serif
 }   
  
  div#container{
    width:100% !important; 
    width /**/:100%
    margin: 0 auto;
    padding:2px;
    text-align:left;
    background:#DCF1B9;
  }
  
  div#header {
    background: #DCF1B9;
    text-align:left;
    margin-bottom:5px;   
  }
 
  div#navigation {
    width:600px;
    height:25px;
    float: left;
    padding: 4 0 4 0; 
  }

  #userlocation {
     text-align:right; 
     padding-left:265px;  
  }

  div#content { 
    padding:2px; 
    margin-left: 163px;
    margin-right:155px;    
    background: #FFFFFF;      
  }
    
  #topmenu {
    padding-left: 275px;   
  }    
    
 #TopMenuHR {
  color: #f00;
  background-color: #DDDDDD;
  height: 5px;
  width: 100%;   
 }

  a{color:#000000}
  a:hover{color: #CC6600}   